extends layout

block content
  // HERO SECTION
  .site-hero_2
    .page-title
      .big-title.montserrat-text.uppercase giới thiệu
      .small-title.montserrat-text.uppercase trang chủ / giới thiệu
  section
    .container
      .row
        .col-md-6
          .section-title(style='text-align:left;float:left;width:100%;margin-bottom:0')
            span giới thiệu
            p.montserrat-text.uppercase we are awesome
          p
        .col-md-6
          .section-title(style='text-align:left;float:left;width:100%;margin-bottom:0')
            span what we do
            p.montserrat-text.uppercase creative &amp; digital
          p
  section
    .container
      .row
        .section-title
          span some benefits
          p
      .row
        .col-md-4.col-sm-6.col-xs-12.benefits_2_single.wow.fadeInUp
          i.icon.ion-iphone
          span.title.montserrat-text.uppercase fully responsive
          p
        .col-md-4.col-sm-6.col-xs-12.benefits_2_single.wow.fadeInUp(data-wow-delay='.1s')
          i.icon.ion-ios-infinite-outline
          span.title.montserrat-text.uppercase unlimited options
          p
        .col-md-4.col-sm-6.col-xs-12.benefits_2_single.wow.fadeInUp(data-wow-delay='.2s')
          i.icon.ion-social-wordpress-outline
          span.title.montserrat-text.uppercase wordpress
          p
        .col-md-4.col-sm-6.col-xs-12.benefits_2_single.wow.fadeInUp(data-wow-delay='.3s')
          i.icon.ion-ios-cart-outline
          span.title.montserrat-text.uppercase e-commerce
          p
        .col-md-4.col-sm-6.col-xs-12.benefits_2_single.wow.fadeInUp(data-wow-delay='.4s')
          i.icon.ion-ios-settings
          span.title.montserrat-text.uppercase customizable design
          p
        .col-md-4.col-sm-6.col-xs-12.benefits_2_single.wow.fadeInUp(data-wow-delay='.5s')
          i.icon.ion-settings
          span.title.montserrat-text.uppercase support
          p
  section
    .container
      .row
        .section-title
          span the dream team
          p
      .row
        .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp
          .team_member
            img(src='assets/img/team.jpg', alt='team image')
            .team_member_hover
              .team_member_info
                .team_member_name john doe
                .team_member_job CEO / co-founder
        .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.1s')
          .team_member
            img(src='assets/img/team.jpg', alt='team image')
            .team_member_hover
              .team_member_info
                .team_member_name jennifer toms
                .team_member_job project chied
        .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.2s')
          .team_member
            img(src='assets/img/team.jpg', alt='team image')
            .team_member_hover
              .team_member_info
                .team_member_name jack doe
                .team_member_job graphic designer
        .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.3s')
          .team_member
            img(src='assets/img/team.jpg', alt='team image')
            .team_member_hover
              .team_member_info
                .team_member_name anne turin
                .team_member_job art director
        .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.4s')
          .team_member
            img(src='assets/img/team.jpg', alt='team image')
            .team_member_hover
              .team_member_info
                .team_member_name nicolas akhouad
                .team_member_job CTO
        .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.5s')
          .team_member
            img(src='assets/img/team.jpg', alt='team image')
            .team_member_hover
              .team_member_info
                .team_member_name tim cook
                .team_member_job front-end developer
        .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.6s')
          .team_member
            img(src='assets/img/team.jpg', alt='team image')
            .team_member_hover
              .team_member_info
                .team_member_name alan turin
                .team_member_job back-end developer
        .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.7s')
          .team_member
            img(src='assets/img/team.jpg', alt='team image')
            .team_member_hover
              .team_member_info
                .team_member_name john whick
                .team_member_job web designer
  // light gray section
  .container
    .light-gray-section.wow.fadeInUp(style='padding:15px 30px;')
      .row
        p.italic(style='float:left;line-height:50px;margin:0')
        a.btn.green(href='', style='float:right')
          span chi ti&#x1EBF;t
  section
    .container
      .row
        .col-md-6
          .testimonials.wow.fadeInUp
            ul.slides
              li.testimonials_single
                .author_pic
                  img(src='assets/img/face.jpg', alt='testimonial image')
                p
                .author_name john doe
              li.testimonials_single
                .author_pic
                  img(src='assets/img/face.jpg', alt='testimonial image')
                p
                .author_name john doe
              li.testimonials_single
                .author_pic
                  img(src='assets/img/face.jpg', alt='testimonial image')
                p
                .author_name john doe
        .col-md-6.clients
          .row
            .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp
              .clients_single
                a(href='#')
                  img(src='assets/img/client.jpg', alt='client logo')
            .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.1s')
              .clients_single
                a(href='#')
                  img(src='assets/img/client.jpg', alt='client logo')
            .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.2s')
              .clients_single
                a(href='#')
                  img(src='assets/img/client.jpg', alt='client logo')
            .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.3s')
              .clients_single
                a(href='#')
                  img(src='assets/img/client.jpg', alt='client logo')
            .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.4s')
              .clients_single
                a(href='#')
                  img(src='assets/img/client.jpg', alt='client logo')
            .col-md-4.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='.5s')
              .clients_single
                a(href='#')
                  img(src='assets/img/client.jpg', alt='client logo')
  block javascripts
    script(type='text/javascript', charset='utf-8').
      $(window).load(function () {new WOW().init();$(".testimonials").flexslider({directionNav: false,controlNav: false,smoothHeight: true,});});