extends layout

block content
 <!-- HERO SECTION  -->
  .site-hero_2
    .page-title
      .big-title.montserrat-text.uppercase Liên hệ
      .small-title.montserrat-text.uppercase Trang chủ / Liên hệ
  section
    .container
      .row
        .col-md-6
          .row
            form(action='/contact', method='post')
              .col-md-6
                .input_1(style='margin-bottom:30px')
                  input(type='text', name='name')
                  span tên của bạn
              .col-md-6
                .input_1(style='margin-bottom:30px')
                  input(type='text', name='email')
                  span thư điện tử
              .col-md-12
                .textarea_1(style='margin-bottom:30px')
                  textarea(name='message')
                  span nội dung
              .col-md-12
                a.btn.green(href='#')
                  span gửi
          h4.montserrat-text.uppercase(style='margin-top:100px') thông tin liên hệ
          p Lê Thị Ba
          p Nhân viên bán hàng công ty bất động sản Nam Hưng
          p Số điện thoại: 093 177 62 52
            div
              a.link(href='mailto:email@website.com') cskhnamhungland95@gmail.com
          ul.social-icons(style='margin-top:30px;')
            li
              a(href='https://www.facebook.com/diaoc.canho.sg')
                i.icon.ion-social-facebook
        // end col
        .col-md-6
          #map(style='width:100%')
block javascripts
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?sensor=false')
  script(type='text/javascript', charset='utf-8').
    google.maps.event.addDomListener(window, 'load', initialize);
    function initialize() {
      var mapOptions = {
        zoom: 18,
        center: new google.maps.LatLng(10.777168, 106.688821),
        scrollwheel: false,
        styles: [{ "featureType": "water", "elementType": "geometry", "stylers": [{ "color": "#e9e9e9" }, { "lightness": 17 }] }, { "featureType": "landscape", "elementType": "geometry", "stylers": [{ "color": "#f5f5f5" }, { "lightness": 20 }] }, { "featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{ "color": "#ffffff" }, { "lightness": 17 }] }, { "featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{ "color": "#ffffff" }, { "lightness": 29 }, { "weight": 0.2 }] }, { "featureType": "road.arterial", "elementType": "geometry", "stylers": [{ "color": "#ffffff" }, { "lightness": 18 }] }, { "featureType": "road.local", "elementType": "geometry", "stylers": [{ "color": "#ffffff" }, { "lightness": 16 }] }, { "featureType": "poi", "elementType": "geometry", "stylers": [{ "color": "#f5f5f5" }, { "lightness": 21 }] }, { "featureType": "poi.park", "elementType": "geometry", "stylers": [{ "color": "#dedede" }, { "lightness": 21 }] }, { "elementType": "labels.text.stroke", "stylers": [{ "visibility": "on" }, { "color": "#ffffff" }, { "lightness": 16 }] }, { "elementType": "labels.text.fill", "stylers": [{ "saturation": 36 }, { "color": "#333333" }, { "lightness": 40 }] }, { "elementType": "labels.icon", "stylers": [{ "visibility": "off" }] }, { "featureType": "transit", "elementType": "geometry", "stylers": [{ "color": "#f2f2f2" }, { "lightness": 19 }] }, { "featureType": "administrative", "elementType": "geometry.fill", "stylers": [{ "color": "#fefefe" }, { "lightness": 20 }] }, { "featureType": "administrative", "elementType": "geometry.stroke", "stylers": [{ "color": "#fefefe" }, { "lightness": 17 }, { "weight": 1.2 }] }]
      };

      var mapElement = document.getElementById('map');
      var map = new google.maps.Map(mapElement, mapOptions);

      var marker = new google.maps.Marker({
        position: mapOptions.center,
        map: map,
        //- icon: 'images/map.png',
        title: 'Tôi ở đây!'
      });
    }
    $(window).load(function () {
      new WOW().init();
      $("#map").css("height", $("#map").parent().parent().height() + "px");
    });