extends layout

block content
  <!-- HERO SECTION  -->
  #site-hero.site-hero
    ul.slides
      li
        div
          span.small-title.uppercase.montserrat-text diamond lotus
        .big-title.uppercase.montserrat-text c&abreve;n h&#x1ED9; xanh diamond lotus riverside
        p.transparent-text Căn hộ xanh Diamond Lotus cao cấp quận 8 đang là điểm đến không thể hấp dẫn hơn với bất kỳ gia đình nào muốn có được một nơi ấm cúng để xây dựng gia đình. Nơi đây hứa hẹn sẽ mang đến cho tổ ấm của bạn một cuộc sống đầy đủ tiện nghi,đẳng cấp và sang trọng.
      li
        div
          span.small-title.uppercase.montserrat-text diamond lotus
        .big-title.uppercase.montserrat-text ti&#x1EC7;n &iacute;ch
  // HISTORY OF AGENCY
  .container
    .agency
      .col-md-5.col-sm-12
        .row
          img(src='images/agency.png', alt='image')
      .col-md-offset-1.col-md-6.col-sm-12
        .row.transparent-text
          .section-title
            span ti&ecirc;u chu&#x1EA9;n Hoa K&#x1EF3; - &ldquo;LEED&rdquo; l&#x1EA7;n &dstrok;&#x1EA7;u ti&ecirc;n t&#x1EA1;i VI&#x1EC6;T NAM
          p bảo vệ môi trường - tiết kiệm năng lượng => Không gian xanh tuyệt hảo cho cuộc sống viên mãn
          a.btn.green(href='#', style='float:right;margin-top:30px')
            span chi ti&#x1EBF;t
  //VI TRI DOC TON
  section.info
    .container
      .row
        .section-title
          span t&#x1ED5;ng quan d&#x1EF1; &aacute;n&nbsp;diamond lotus riverside&nbsp;qu&#x1EAD;n 8
      .col-xs-12.col-sm-6.item.item1
        .title2 T&#x1ED5;ng di&#x1EC7;n t&iacute;ch d&#x1EF1; &aacute;n
        .desc 16.800 m&sup2;
      .col-xs-12.col-sm-6.item.item2
        .title2 Di&#x1EC7;n t&iacute;ch x&acirc;y d&#x1EF1;ng
        .desc 3.604 m&sup2;
      .col-xs-12.col-sm-6.item.item3
        .title2 M&#x1EAD;t &dstrok;&#x1ED9; x&acirc;y d&#x1EF1;ng
        .desc 19%
      .col-xs-12.col-sm-6.item.item4
        .title2 Th&aacute;p &amp; T&#x1EA7;ng cao
        .desc
          span  Th&aacute;p &amp; 
          span  T&#x1EA7;ng
      .col-xs-12.col-sm-6.item.item5
        .title2 C&ocirc;ng vi&ecirc;n c&acirc;y xanh
        .desc 8.000 m&sup2;
      .col-xs-12.col-sm-6.item.item6
        .title2 T&#x1ED5;ng v&#x1ED1;n &dstrok;&#x1EA7;u t&#x1B0;
        .desc 1.286 t&#x1EC9;
  //TONG QUAN DU AN
  section.location
    .container
      .section-title
        span M&#x1ED9;t v&#x1ECB; tr&iacute; &dstrok;&#x1ED9;c t&ocirc;n
        p
      #divContent
        .row.content-info
          .col-xs-12.text-center
            font(color='#d8c664', size='5px')
              b TRONG B&Aacute;N K&Iacute;NH 3KM, B&#x1EA0;N D&#x1EC4; D&Agrave;NG T&Igrave;M TH&#x1EA4;Y C&Aacute;C D&#x1ECA;CH V&#x1EE4; &Dstrok;&#x1EB2;NG C&#x1EA4;P
          .col-xs-12.fadeInUp
            .row.list
              .col-xs-6
                .item.item1
                  b 03
                  p Trung tâm thương mại
                .item.item2
                  b 04
                  p Rạp phim &amp; sân khấu kịch
                .item.item3
                  b 05
                  p Công viên &amp; trung tâm TDTT
                .item.last.item4
                  b 08
                  p Quán bar &amp; Karaoke
              .col-xs-6.location-right
                .item.item5
                  b 10
                  p Nhà sách &amp; cà phê sách
                .item.item6
                  b 12
                  p Bệnh viện &amp; phòng khám
                .item.item7
                  b 14
                  p Siêu thị &amp; cửa hàng tiện lợi
                .item.last.item8
                  b 20
                  p Trường học &amp; Đại học
              .clearfix
          .col-md-5
          .col-md-offset-2.col-md-5
  //LOI THE VUOT TROI
  section
    .container
      .row
        .section-title
          span lợi thế vượt trội
  //TIEN ICH CHUAN 5 SAO
  section
    .container
      .row
        .section-title
          span tiện ích chuẩn 5 sao
  //MAT BANG DIA HINH BLOCK C
  section
    .container
      .row
        .section-title
          span mặt bằng địa hình block C
      .col-xs-12

  //MAT BANG CAN HO
  section
    .container
      .row
        .section-title
          span mặt bằng căn hộ
  //TONG QUAN DU AN
  section.info
    .container
      .row
        .section-title
          span căn hộ mẫu
  //TAI SAO NEN CHON
  section#services.services
    .container
      .row
        .section-title
          span t&#x1EA1;i sao n&ecirc;n ch&#x1ECD;n diamond lotus riverside
      .col-xs-12.services-left.wow.fadeInUp
        .row.list
          .col-md-6.col-sm-12
            .item
              span.montserrat-text.uppercase.service-title mật độ xây dựng
              ul
                li thấp nhất (19%)
          .col-md-6.col-sm-12
            .item.text-right
              span.montserrat-text.uppercase.service-title cách chợ bến thành
              ul
                li 5 phút
        .row.list
          .col-md-6.col-sm-12
            .item
              span.montserrat-text.uppercase.service-title thiết kế thi công vận hành
              ul
                li tiêu chuẩn leed (hoa kỳ)
          .col-md-6.col-sm-12
            .item.text-right
              span.montserrat-text.uppercase.service-title thiết bị cao cấp
              ul
                li nhật bản
        .row.list
          .col-md-6.col-sm-12
            .item
              span.montserrat-text.uppercase.service-title 100% căn hộ
              ul
                li view sông
          .col-md-6.col-sm-12
            .item.text-right
              span.montserrat-text.uppercase.service-title sky park
              ul
                li 5.000 m2
        .row.list
          .col-md-6.col-sm-12
            .item
              span.montserrat-text.uppercase.service-title bến du thuyền mặt tiền
              ul
                li dài 300m
          .col-md-6.col-sm-12
            .item.text-right
              span.montserrat-text.uppercase.service-title thiết kế căn hộ
              ul
                li chuẩn khách sạn 5 sao
              
  //TIEN DO DU AN 
  section.info
    .container
      .row
        .section-title
          span tiện độ dự án
      .col-xs-12.fadeInUp
        #myCarousel.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
            li(data-target='#myCarousel', data-slide-to='2')
            li(data-target='#myCarousel', data-slide-to='3')
            li(data-target='#myCarousel', data-slide-to='4')
          // Wrapper for slides
          .carousel-inner
            .item.active
              img(src='images/tien-do-du-an-1.jpg', alt='tiến độ dự án')
            .item
              img(src='images/tien-do-du-an-2.jpg', alt='tiến độ dự án')
            .item
              img(src='images/tien-do-du-an-3.jpg', alt='tiến độ dự án')
            .item
              img(src='images/tien-do-du-an-4.jpg', alt='tiến độ dự án')
            .item
              img(src='images/tien-do-du-an-5.jpg', alt='tiến độ dự án')
          // Left and right controls
          a.left.carousel-control(href='#myCarousel', data-slide='prev')
            span.ion-arrow-left-c
            span.sr-only trước
          a.right.carousel-control(href='#myCarousel', data-slide='next')
            span.ion-arrow-right-c
            span.sr-only sau
  //CHINH SACH BAN HANG
  section.info
    .container
      .row
        .section-title
          span chính sách bán hàng
  //CHU DAU TU
  section.info
    .container
      .row
        .section-title
          span chủ đầu tư
  //NOI THAT
  section.info
    .container
      .row
        .section-title
          span nội thất
  section.portfolio
    .container
      .row
        .section-title
          span Hình ảnh
          p
      // all works
      .col-md-12
        .row.portfolio_container
          // single work
          .col-md-4.photography
            a.portfolio_item.work-grid.wow.fadeInUp(href='single-project.html')
              img(src='images/gallery/cong-vien-cao-nhat.jpg', alt='công viên cao nhất')
              .portfolio_item_hover
                .item_info
                  span công viên cao nhất
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.fashion.logo
            a.portfolio_item.work-grid.wow.fadeInUp(href='single-project.html', data-wow-delay='.2s')
              img(src='images/gallery/khong-gian.jpg', alt='không gian thoáng đãng')
              .portfolio_item_hover
                .item_info
                  span không gian thoáng đãng
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.ads.graphics
            a.portfolio_item.work-grid.wow.fadeInUp(href='single-project.html', data-wow-delay='.3s')
              img(src='images/gallery/khong-khi-trong-lanh.jpg', alt='không khí trong lành')
              .portfolio_item_hover
                .item_info
                  span không khí trong lành
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.fashion.ads
            a.portfolio_item.work-grid.wow.fadeInUp(href='single-project.html', data-wow-delay='.4s')
              img(src='images/gallery/khu-vui-choi-treo-nui.jpg', alt='khu vui chơi leo núi')
              .portfolio_item_hover
                .item_info
                  span khu vui chơi leo núi
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.graphics.ads
            a.portfolio_item.work-grid.wow.fadeInUp(href='single-project.html', data-wow-delay='.5s')
              img(src='images/gallery/moi-truong-xanh.jpg', alt='môi trường xanh')
              .portfolio_item_hover
                .item_info
                  span môi trường xanh
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.logo.web.photography
            a.portfolio_item.work-grid.wow.fadeInUp(href='single-project.html', data-wow-delay='.6s')
              img(src='images/gallery/phi-thuyen-hang-sang.jpg', alt='môi trường hạng sang')
              .portfolio_item_hover
                .item_info
                  span môi trường hạng sang
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.ads.graphics
            a.portfolio_item.work-grid.wow.fadeInUp(href='single-project.html', data-wow-delay='.7s')
              img(src='images/gallery/tien-ich-am-thuc.jpg', alt='tiện ích ẩm thực')
              .portfolio_item_hover
                .item_info
                  span tiện ích ẩm thực
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.web.fashion.photography
            a.portfolio_item.work-grid.wow.fadeInUp(href='single-project.html', data-wow-delay='.8s')
              img(src='images/gallery/tien-ich-phong-gym.jpg', alt='phòng tập gym')
              .portfolio_item_hover
                .item_info
                  span tiện ích
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.fashion.logo
            a.portfolio_item.work-grid.wow.fadeInUp(href='single-project.html', data-wow-delay='.9s')
              img(src='images/gallery/tien-ich-spa.jpg', alt='tiện ích spa')
              .portfolio_item_hover
                .item_info
                  span tiện ích spa
                  em diamond lotus
          // end single work
        // end row
      // all works end
    // end container
	
  block javascripts
    script(type='text/javascript', src='javascripts/bootstrap.min.js')
    script(type='text/javascript', charset='utf-8').
      $(window).load(function () {
      new WOW().init();
      // initialise flexslider
      $('.site-hero').flexslider({
      animation: "fade",
      directionNav: false,
      controlNav: false,
      keyboardNav: true,
      slideToStart: 0,
      animationLoop: true,
      pauseOnHover: false,
      slideshowSpeed: 4000,
      });
      // initialize isotope
      var $container = $('.portfolio_container');
      $container.isotope({
      filter: '*',
      });
      $('.portfolio_filter a').click(function () {
      $('.portfolio_filter .active').removeClass('active');
      $(this).addClass('active');
      var selector = $(this).attr('data-filter');
      $container.isotope({
      filter: selector,
      animationOptions: {
      duration: 500,
      animationEngine: "jquery"
      }
      });
      return false;
      });
      let bg_img = ["images/diamond-lotus-riverside-can-ho-xanh-ban-dem.jpg", "images/diamond-lotus-riverside-can-ho-xanh-ban-dem.jpg"];
      setInterval(() => {
      let img = bg_img[Math.floor((Math.random() * bg_img.length))];
      $('.site-hero').css('background-image', `url('${img}')`);
      }, 5000);
      });