extends layout

block content
  <!-- HERO SECTION  -->
  .site-hero
    ul.slides
      li
        div
          span.small-title.uppercase.montserrat-text diamond lotus
        .big-title.uppercase.montserrat-text c&abreve;n h&#x1ED9; xanh diamond lotus riverside
        p.transparent-text Căn hộ xanh Diamond Lotus cao cấp quận 8 đang là điểm đến không thể hấp dẫn hơn với bất kỳ gia đình nào muốn có được một nơi ấm cúng để xây dựng gia đình. Nơi đây hứa hẹn sẽ mang đến cho tổ ấm của bạn một cuộc sống đầy đủ tiện nghi,đẳng cấp và sang trọng.
      li
        div
          span.small-title.uppercase.montserrat-text diamond lotus
        .big-title.uppercase.montserrat-text ti&#x1EC7;n &iacute;ch
  // HISTORY OF AGENCY
  .container
    .agency
      .col-md-4.col-sm-12
        .row
          img(src='images/agency.png', alt='image')
      .col-md-8.col-sm-12
        .row.transparent-text(style="height:300px")
          .section-title
            p.title(style="font-size:34px") ti&ecirc;u chu&#x1EA9;n Hoa K&#x1EF3; - &ldquo;LEED&rdquo;
            p.title l&#x1EA7;n &dstrok;&#x1EA7;u ti&ecirc;n t&#x1EA1;i VI&#x1EC6;T NAM
          p
            | Đây là tiêu chuẩn quốc tế tiên phong về vấn đề xây dựng các công trình tiết kiệm năng lượng và bảo vệ môi trường sống của con người. Đáp ứng 6 tiêu chí:
            br
            | 1. Thiết kế địa điểm bền vững
            br
            | 2. Sử dụng có hiệu quả tài nguyên nước
            br
            | 3. Năng lượng với môi trường
            br
            | 4. Vật liệu và tài nguyên
            br
            | 5. Chất lượng môi trường trong phòng
            br
            | 6. Thiết kế có tính đổi mới
            br
          //- a.btn.green(href='#', style='float:right;margin-top:30px')
          //-   span chi tiết
  //TONG QUAN
  section#about.info
    .container
      .row
        .section-title
          span t&#x1ED5;ng quan d&#x1EF1; &aacute;n&nbsp;diamond lotus riverside&nbsp;qu&#x1EAD;n 8
          p.
            <strong>Căn hộ Diamond Lotus</strong> tại Quận 8 là một dự án mới của công ty Phúc Khang. Là dự án căn hộ duy nhất tại Trung tâm TP Hồ Chí Minh được bao bọc bởi 2 con sông có diện tích tiếp giáp lớn. Căn hộ Diamond Lotus là sự hòa trộn vô cùng tuyệt vời giữa thiên nhiên xanh và phong cách kiến trúc hiện đại cao cấp.
            Căn hộ được tọa lạc tại vị trí 49 Lê Quang Kim, phường 8, Quận 8, TP Hồ Chí Minh cận kề ngay ngã ba Kênh Đôi, Kênh Tẻ và Bến Nghé, Song hành cùng đại lộ Võ Văn Kiệt và gần kề khu phố tài chính lớn nhất thành phố Sài Gòn. Toàn bộ căn hộ nằm theo trục Bắc – Nam. Đây là hướng tốt nhất cho căn hộ. Tầm nhìn của căn hộ là vô cùng lớn và mang lại cảm giác thỏa mái nhất cho cư dân sinh sống tại đây.
          h3 BIỂU TƯỢNG KIẾN TRÚC XANH ĐỘC ĐÁO VÀ DUY NHẤT TẠI SÀI GÒN
          p.
            Dự án Căn hộ cao cấp Diamond Lotus là công trình biểu tượng xanh duy nhất tại TP. HCM, được thể hiện qua các yếu tố sau:

            Phần đế được tạo tác như một khu rừng nhiệt đới với đại công viên mặt tiền sông rộng hơn 8.600m2 với 3 tầng thực vật tạo nên một không gian sinh hoạt rộng lớn cho cư dân tại đây. Căn hộ Diamond Lotus như một ốc đảo xanh trong lòng thành phố với hơn 300m tiếp giáp mặt sông tạo một cảnh quan xanh mát với những dịch vụ giải trí cao cấp như câu cá giải trí, bến du thuyền. Đây là sự khác biệt và duy nhất chỉ có tại Căn hộ cao cấp Diamond Lotus.
            Toàn bộ bề mặt Diamond Lotus là những làn sóng bằng cây xanh đan xen vào nhau tạo thành một mảng xanh khổng lồ, mang lại sự tươi mát và tràn đầy năng lượng cho cư dân nơi đây. Diamond Lotus vẽ nên một kiệt tác kiến trúc xanh mang tính biểu tượng có một không hai tại Sài Gòn cũng là nơi thể hiện sự tự hào với bạn bè trong và ngoài nước.
            Với thiết kế hiện đại, Diamond Lotus là dự án bất động sản đầu tiên tại Việt Nam có đỉnh 3 tòa nhà kết nối với nhau thành một Vườn thiền trên không Sky Park có diện tích 5.000m2. Tại đây, mỗi ngày cư dân có cơ hội trải nghiệm nhiều tiện ích hiện đại trong một không gian giải trí đẳng cấp, tiện nghi và chiêm ngưỡng vẻ đẹp của toàn thành phố từ trên cao.
      .col-xs-12.col-sm-6.item.item1
        .title2 T&#x1ED5;ng di&#x1EC7;n t&iacute;ch d&#x1EF1; &aacute;n
        .desc 16.800 m&sup2;
      .col-xs-12.col-sm-6.item.item2
        .title2 Di&#x1EC7;n t&iacute;ch x&acirc;y d&#x1EF1;ng
        .desc 3.604 m&sup2;
      .col-xs-12.col-sm-6.item.item3
        .title2 M&#x1EAD;t &dstrok;&#x1ED9; x&acirc;y d&#x1EF1;ng
        .desc 19%
      .col-xs-12.col-sm-6.item.item4
        .title2 Th&aacute;p &amp; T&#x1EA7;ng cao
        .desc
          span  Th&aacute;p &amp; 
          span  T&#x1EA7;ng
      .col-xs-12.col-sm-6.item.item5
        .title2 C&ocirc;ng vi&ecirc;n c&acirc;y xanh
        .desc 8.000 m&sup2;
      .col-xs-12.col-sm-6.item.item6
        .title2 T&#x1ED5;ng v&#x1ED1;n &dstrok;&#x1EA7;u t&#x1B0;
        .desc 1.286 t&#x1EC9;
      .col-xs-12.wow.fadeInUp
        .video-responsive
          iframe(width='560', height='315', src='https://www.youtube.com/embed/tDnHcGtyMMo?rel=0&autoplay=1&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
  //VI TRI DOC TON
  section.location
    .container
      .section-title
        span M&#x1ED9;t v&#x1ECB; tr&iacute; &dstrok;&#x1ED9;c t&ocirc;n
        p Cách chợ Bến Thành chỉ 7 phút, tiếp giáp với 6 quận trung tâm, đặc biệt chỉ cách Quận 1 một cây cầu, Diamond Lotus Riverside trở thành dự án sở hữu một vị trí độc tôn, không thể đắc địa hơn – Một dự án tại trái tim thành phố. Không chỉ đắc địa, Diamond Lotus Riverside còn trở thành dự án có tầm nhìn tuyệt đẹp: Chỉ một ánh nhìn, tất cả mọi biểu tượng đẹp nhất của Sài Gòn đều thu về trong tầm mắt. Với toàn bộ mặt tiền dự án 300m trực diện bờ sông, Diamond Lotus Riverside sở hữu một không gian hiếm có và quý giá giữa lòng thành phố. Tại Diamond Lotus Riverside, chủ đầu tư Phúc Khang cố gắng giảm thiểu tối đa quá trình bê tông hoá dự án. Diện tích đất được sử dụng để làm công trình xây dựng sẽ được chủ đầu tư bù lại bằng khoảng 8.000 m2 cây xanh bao phủ toàn dự án. Với mật độ xây dựng chỉ 19%, Diamond Lotus Riverside là dự án có mật độ xây dựng thấp nhất và mật độ cây xanh cao nhất tại Sài Gòn (tính tới thời điểm hiện tại).
      #divContent
        .row.content-info
          .col-xs-12.text-center
            font(color='#d8c664', size='5px')
              b TRONG B&Aacute;N K&Iacute;NH 3KM, B&#x1EA0;N D&#x1EC4; D&Agrave;NG T&Igrave;M TH&#x1EA4;Y C&Aacute;C D&#x1ECA;CH V&#x1EE4; &Dstrok;&#x1EB2;NG C&#x1EA4;P
          .col-md-6.col-sm-12.wow.fadeInUp
            .row.list
              .col-xs-6
                .item.item1
                  b 03
                  p Trung tâm thương mại
                .item.item2
                  b 04
                  p Rạp phim &amp; sân khấu kịch
                .item.item3
                  b 05
                  p Công viên &amp; trung tâm TDTT
                .item.last.item4
                  b 08
                  p Quán bar &amp; Karaoke
              .col-xs-6
                .item.item5
                  b 20
                  p Trường học &amp; Đại học
                .item.item6
                  b 12
                  p Bệnh viện &amp; phòng khám
                .item.item7
                  b 14
                  p Siêu thị &amp; cửa hàng tiện lợi
                .item.last.item8
                  b 10
                  p Nhà sách &amp; cà phê sách
          .col-md-6.col-sm-12.wow.fadeInUp
            .row
              img.radius(src='images/vi-tri-doc-ton.gif', alt='vị trí độc tôn')


  //LOI THE VUOT TROI
  section
    .container
      .row
        .section-title
          span lợi thế vượt trội
  //TIEN ICH CHUAN 5 SAO
  section
    .container
      .row
        .section-title
          span tiện ích chuẩn 5 sao
          p Điểm nhấn của các biệt thự trên không chính là không gian riêng tư luôn được coi trọng. Đẳng cấp của Diamond Lotus Riverside còn được thể hiện qua những dịch vụ và tiện ích tiêu chuẩn 5 sao.
      .col-xs-12.wow.fadeInUp
        #crlTienIch5Sao.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#crlTienIch5Sao', data-slide-to='0')
            li(data-target='#crlTienIch5Sao', data-slide-to='1')
            li(data-target='#crlTienIch5Sao', data-slide-to='2')
            li(data-target='#crlTienIch5Sao', data-slide-to='3')
            li(data-target='#crlTienIch5Sao', data-slide-to='4')
            li(data-target='#crlTienIch5Sao', data-slide-to='5')
          // Wrapper for slides
          .carousel-inner
            .item.active
              img(src='images/tien-ich-chuan-5-sao-1.jpg', alt='tiện ích chuẩn 5 sao')
              .carousel-caption
                h3 SKY PARK
                p Đây là khu cao nhất nằm trên đỉnh căn hộ Diamond Lotus, với thiết kế độc đáo tại đây được xem là một ốc đảo thu nhỏ ngay trên bầu trời. Ngoài ra khu Sky Park còn kết hợp dây văng tạo nên một hình thể kiến trúc vô cùng lạ mắt. Nơi đây là nơi sinh hoạt chung cũng như các dịch vụ Spa, View ngắm cảnh, Yoga…
            .item
              img(src='images/tien-ich-chuan-5-sao-2.jpg', alt='tiện ích chuẩn 5 sao')
              .carousel-caption
                h3 Không gian tuyệt hảo trên sân thượng
                p
            .item
              img(src='images/tien-ich-chuan-5-sao-3.jpg', alt='tiện ích chuẩn 5 sao')
              .carousel-caption
                h3 Dịch vụ nhà hàng
                p
            .item
              img(src='images/tien-ich-chuan-5-sao-4.jpg', alt='tiện ích chuẩn 5 sao')
            .item
              img(src='images/tien-ich-chuan-5-sao-5.jpg', alt='tiện ích chuẩn 5 sao')
              .carousel-caption
                h3 Khu SPA
            .item
              img(src='images/tien-ich-chuan-5-sao-6.jpg', alt='tiện ích chuẩn 5 sao')
          // Left and right controls
          a.left.carousel-control(href='#crlTienIch5Sao', data-slide='prev')
            span.ion-arrow-left-c
            span.sr-only trước
          a.right.carousel-control(href='#crlTienIch5Sao', data-slide='next')
            span.ion-arrow-right-c
            span.sr-only sau
  //MAT BANG DIA HINH BLOCK C
  section
    .container
      .row
        .section-title
          span mặt bằng địa hình block C
      .col-xs-12.wow.fadeInUp
        img(src="images/mat-bang-block-c.jpg",alt="mặt bằng block c")

  //MAT BANG CAN HO
  section
    .container
      .row
        .section-title
          span mặt bằng căn hộ
      .col-xs-12.wow.fadeInUp
        #crlMatBangCanHo.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#crlMatBangCanHo', data-slide-to='0')
            li(data-target='#crlMatBangCanHo', data-slide-to='1')
            li(data-target='#crlMatBangCanHo', data-slide-to='2')
          // Wrapper for slides
          .carousel-inner
            .item.active
              img(src='images/mat-bang-can-ho-1.jpg', alt='mặt bằng căn hộ')
              .carousel-caption
                  h3 Căn hộ S 73m2
            .item
              img(src='images/mat-bang-can-ho-2.jpg', alt='mặt bằng căn hộ')
              .carousel-caption
                    h3 Căn hộ CE 58m2
            .item
              img(src='images/mat-bang-can-ho-3.jpg', alt='mặt bằng căn hộ')
              .carousel-caption
                    h3 Căn hộ CS 49m2
          // Left and right controls
          a.left.carousel-control(href='#crlMatBangCanHo', data-slide='prev')
            span.ion-arrow-left-c
            span.sr-only trước
          a.right.carousel-control(href='#crlMatBangCanHo', data-slide='next')
            span.ion-arrow-right-c
            span.sr-only sau
  //TONG QUAN DU AN
  section.info
    .container
      .row
        .section-title
          span căn hộ mẫu
      .col-xs-12.wow.fadeInUp
        #crlCanHoMau.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#crlCanHoMau', data-slide-to='0')
            li(data-target='#crlCanHoMau', data-slide-to='1')
            li(data-target='#crlCanHoMau', data-slide-to='2')
            li(data-target='#crlCanHoMau', data-slide-to='3')
            li(data-target='#crlCanHoMau', data-slide-to='4')
            li(data-target='#crlCanHoMau', data-slide-to='5')
            li(data-target='#crlCanHoMau', data-slide-to='6')
            li(data-target='#crlCanHoMau', data-slide-to='7')
            li(data-target='#crlCanHoMau', data-slide-to='8')
            li(data-target='#crlCanHoMau', data-slide-to='9')
            li(data-target='#crlCanHoMau', data-slide-to='10')
            li(data-target='#crlCanHoMau', data-slide-to='11')
            li(data-target='#crlCanHoMau', data-slide-to='12')
            li(data-target='#crlCanHoMau', data-slide-to='13')
            li(data-target='#crlCanHoMau', data-slide-to='14')
            li(data-target='#crlCanHoMau', data-slide-to='16')
            li(data-target='#crlCanHoMau', data-slide-to='17')
          // Wrapper for slides
          .carousel-inner
            .item.active
              img(src='images/can-ho-mau-1.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-2.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-3.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-4.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-5.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-6.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-7.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-8.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-9.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-10.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-11.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-12.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-13.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-14.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-16.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-17.jpg', alt='căn hộ mẫu')
            .item
              img(src='images/can-ho-mau-18.jpg', alt='căn hộ mẫu')
          // Left and right controls
          a.left.carousel-control(href='#crlCanHoMau', data-slide='prev')
            span.ion-arrow-left-c
            span.sr-only trước
          a.right.carousel-control(href='#crlCanHoMau', data-slide='next')
            span.ion-arrow-right-c
            span.sr-only sau
  //TAI SAO NEN CHON
  section#tien-ich.services
    .container
      .row
        .section-title
          span t&#x1EA1;i sao n&ecirc;n ch&#x1ECD;n diamond lotus riverside
      .col-xs-12.services-left.wow.fadeInUp
        .row.list
          .col-md-6.col-sm-12
            .item
              span.montserrat-text.uppercase.service-title mật độ xây dựng
              ul
                li thấp nhất (19%)
          .col-md-6.col-sm-12
            .item.text-right
              span.montserrat-text.uppercase.service-title cách chợ bến thành
              ul
                li 5 phút
        .row.list
          .col-md-6.col-sm-12
            .item
              span.montserrat-text.uppercase.service-title thiết kế thi công vận hành
              ul
                li tiêu chuẩn leed (hoa kỳ)
          .col-md-6.col-sm-12
            .item.text-right
              span.montserrat-text.uppercase.service-title thiết bị cao cấp
              ul
                li nhật bản
        .row.list
          .col-md-6.col-sm-12
            .item
              span.montserrat-text.uppercase.service-title 100% căn hộ
              ul
                li view sông
          .col-md-6.col-sm-12
            .item.text-right
              span.montserrat-text.uppercase.service-title sky park
              ul
                li 5.000 m2
        .row.list
          .col-md-6.col-sm-12
            .item
              span.montserrat-text.uppercase.service-title bến du thuyền mặt tiền
              ul
                li dài 300m
          .col-md-6.col-sm-12
            .item.text-right
              span.montserrat-text.uppercase.service-title thiết kế căn hộ
              ul
                li chuẩn khách sạn 5 sao
              
  //TIEN DO DU AN 
  section#tien-do-du-an
    .container
      .row
        .section-title
          span tiện độ dự án
      .col-xs-12.wow.fadeInUp
        #crlTiendoduan.carousel.slide(data-ride='carousel')
          // Indicators
          ol.carousel-indicators
            li.active(data-target='#crlTiendoduan', data-slide-to='0')
            li(data-target='#crlTiendoduan', data-slide-to='1')
            li(data-target='#crlTiendoduan', data-slide-to='2')
            li(data-target='#crlTiendoduan', data-slide-to='3')
            li(data-target='#crlTiendoduan', data-slide-to='4')
            li(data-target='#crlTiendoduan', data-slide-to='5')
          // Wrapper for slides
          .carousel-inner
            .item.active
              img(src='images/tien-do-du-an-1.jpg', alt='tiến độ dự án')
            .item
              img(src='images/tien-do-du-an-2.jpg', alt='tiến độ dự án')
            .item
              img(src='images/tien-do-du-an-3.jpg', alt='tiến độ dự án')
            .item
              img(src='images/tien-do-du-an-4.jpg', alt='tiến độ dự án')
            .item
              img(src='images/tien-do-du-an-5.jpg', alt='tiến độ dự án')
            .item
              img(src='images/tien-do-du-an-6.jpg', alt='tiến độ dự án')
          // Left and right controls
          a.left.carousel-control(href='#crlTiendoduan', data-slide='prev')
            span.ion-arrow-left-c
            span.sr-only trước
          a.right.carousel-control(href='#crlTiendoduan', data-slide='next')
            span.ion-arrow-right-c
            span.sr-only sau
      .col-xs-12.wow.fadeInUp(style="margin-top:15px")
        .video-responsive
          iframe(width='560', height='315', src='https://www.youtube.com/embed/jNytDb6G9vs?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')  
  //CHINH SACH BAN HANG
  section
    .container
      .row
        .section-title
          span chính sách bán hàng
          p.heading GIÁ CỰC TỐT TỪ 1,9 TỶ CÙNG PHƯƠNG THỨC THANH TOÁN TỐI ƯU
          p Sở hữu giá tốt, vị trí đắc địa với tiềm năng đầu tư lớn, Diamond Lotus Riverside còn mang đến cho khách hàng chính sách thanh toán tối ưu cho phương án đầu tư thông minh
      .col-xs-12.col-sm-4.item_1
        .title Trả trước
        .desc 20%
      .col-xs-12.col-sm-4.item_1
        .title OCB hỗ trợ vay
        .desc 80%
      .col-xs-12.col-sm-4.item_1
        .title Chiết khấu đến
        .desc 4%

  //- //CHU DAU TU
  //- section.info
  //-   .container
  //-     .row
  //-       .section-title
  //-         span chủ đầu tư
  //- //NOI THAT
  //- section.info
  //-   .container
  //-     .row
  //-       .section-title
  //-         span nội thất
  section.portfolio
    .container
      .row
        .section-title
          span Hình ảnh
          p
      // all works
      .col-md-12
        .row.portfolio_container
          // single work
          .col-md-4.photography
            div.portfolio_item.work-grid.wow.fadeInUp
              img(src='images/gallery/cong-vien-cao-nhat.jpg', alt='công viên cao nhất')
              .portfolio_item_hover
                .item_info
                  span công viên cao nhất
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.fashion.logo
            div.portfolio_item.work-grid.wow.fadeInUp(data-wow-delay='.2s')
              img(src='images/gallery/khong-gian.jpg', alt='không gian thoáng đãng')
              .portfolio_item_hover
                .item_info
                  span không gian thoáng đãng
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.ads.graphics
            div.portfolio_item.work-grid.wow.fadeInUp(data-wow-delay='.3s')
              img(src='images/gallery/khong-khi-trong-lanh.jpg', alt='không khí trong lành')
              .portfolio_item_hover
                .item_info
                  span không khí trong lành
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.fashion.ads
            div.portfolio_item.work-grid.wow.fadeInUp(data-wow-delay='.4s')
              img(src='images/gallery/khu-vui-choi-treo-nui.jpg', alt='khu vui chơi leo núi')
              .portfolio_item_hover
                .item_info
                  span khu vui chơi leo núi
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.graphics.ads
            div.portfolio_item.work-grid.wow.fadeInUp(data-wow-delay='.5s')
              img(src='images/gallery/moi-truong-xanh.jpg', alt='môi trường xanh')
              .portfolio_item_hover
                .item_info
                  span môi trường xanh
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.logo.web.photography
            div.portfolio_item.work-grid.wow.fadeInUp(data-wow-delay='.6s')
              img(src='images/gallery/phi-thuyen-hang-sang.jpg', alt='môi trường hạng sang')
              .portfolio_item_hover
                .item_info
                  span môi trường hạng sang
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.ads.graphics
            div.portfolio_item.work-grid.wow.fadeInUp(data-wow-delay='.7s')
              img(src='images/gallery/tien-ich-am-thuc.jpg', alt='tiện ích ẩm thực')
              .portfolio_item_hover
                .item_info
                  span tiện ích ẩm thực
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.web.fashion.photography
            div.portfolio_item.work-grid.wow.fadeInUp(data-wow-delay='.8s')
              img(src='images/gallery/tien-ich-phong-gym.jpg', alt='phòng tập gym')
              .portfolio_item_hover
                .item_info
                  span tiện ích
                  em diamond lotus
          // end single work
          // single work
          .col-md-4.fashion.logo
            div.portfolio_item.work-grid.wow.fadeInUp(data-wow-delay='.9s')
              img(src='images/gallery/tien-ich-spa.jpg', alt='tiện ích spa')
              .portfolio_item_hover
                .item_info
                  span tiện ích spa
                  em diamond lotus
          // end single work
        // end row
      // all works end
    // end container
	
  block javascripts
    script(type='text/javascript', src='javascripts/bootstrap.min.js')
    script(type='text/javascript', charset='utf-8').
      $(window).load(function () {
      new WOW().init();
      // initialise flexslider
      $('.site-hero').flexslider({
      animation: "fade",
      directionNav: false,
      controlNav: false,
      keyboardNav: true,
      slideToStart: 0,
      animationLoop: true,
      pauseOnHover: false,
      slideshowSpeed: 4000,
      });
      // initialize isotope
      var $container = $('.portfolio_container');
      $container.isotope({
      filter: '*',
      });
      $('.portfolio_filter a').click(function () {
      $('.portfolio_filter .active').removeClass('active');
      $(this).addClass('active');
      var selector = $(this).attr('data-filter');
      $container.isotope({
      filter: selector,
      animationOptions: {
      duration: 500,
      animationEngine: "jquery"
      }
      });
      return false;
      });
      });