
doctype html
head
  title C&abreve;n h&#x1ED9; xanh Diamond Lotus Riverside - Hotline: 093 177 62 52
  // META TAGS
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(property='og:locale', content='vi_VN')
  meta(property='og:title', content='Căn Hộ Xanh Chính Phẩm Diamond Lotus Cao Cấp Quận 8 - Khu Căn Hộ Xanh Đáng Sống')
  meta(name='keywords', content='căn hộ xanh Diamond Lotus, dự án Diamond Lotus, Diamond Lotus, Diamond Lotus quận 8, Diamond Lotus cao cấp, can ho Diamond Lotus, du an Diamond Lotus, mua căn hộ xanh Diamond Lotus, bán căn hộ xanh Diamond Lotus, Diamond Lotus Riverside, Diamond Lotus, can ho xanh, tieu chuan My, LEED, căn hộ xanh quận 8, can ho Q8')
  meta(name='description', content='Dự án căn hộ xanh cao cấp quận 8 Diamond Lotus Riverside đã bán hết nhà Block A và B. Nhận ngay báo giá mới nhất Block C. Đừng bỏ qua cơ hội tốt này.')
  meta(property='og:url', content='http://diamondlotusriversidevn.com/index.html')
  meta(property='article:section', content='Thông Tin Chung')
  meta(property='article:published_time', content='2015-09-08T12:37:21+00:00')
  meta(property='article:modified_time', content='2015-09-25T14:59:46+00:00')
  meta(property='og:updated_time', content='2017-10-06T14:59:46+00:00')
  meta(name='twitter:card', content='summary')
  meta(name='twitter:title', content='Căn Hộ Xanh Chính Phẩm Diamond Lotus Cao Cấp Quận 8 - Khu Căn Hộ Xanh Đáng Sống')
  // STYLES
  link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='stylesheets/ionicons.min.css')
  link(rel='stylesheet', href='stylesheets/flexslider.css')
  link(rel='stylesheet', href='stylesheets/animsition.min.css')
  link(rel='stylesheet', href='stylesheets/animate.css')
  link(rel='stylesheet', href='stylesheets/style.css')
  block stylesheets
body.animsition
  // HEADER
  header.main-header
    .container
      .logo
        a(href='/')
          img(src='images/logo.png', alt='logo')
      .menu
        // desktop navbar
        nav.desktop-nav
          ul.first-level
            li
              a.animsition-link(href='/') Trang ch&#x1EE7;
            li
              a(href='/#about') Gi&#x1EDB;i thi&#x1EC7;u
            li
              a(href='/#tien-ich') Ti&#x1EC7;n &iacute;ch
            li
              a(href='/#tien-do-du-an') Tiến độ dự án
            li
              a.animsition-link(href='/lien-he') li&ecirc;n h&#x1EC7;
        // mobile navbar
        nav.mobile-nav
        .menu-icon
          .line
          .line
          .line
  block content
   // newsletter
  section.green-section.wow.fadeInUp(style='padding:50px 0')
    .container
      .col-md-6.col-sm-12
        .row
          span.white-text.montserrat-text.uppercase(style='font-size:30px;display:block;') nếu bạn thấy tuyệt vời, hãy để chúng tôi tư vấn
          a.btn.white(href='/lien-he', style='margin-top:30px')
            span li&ecirc;n h&#x1EC7;
      .col-md-6.col-sm-12
        .row
          .white-section(style='padding:20px')
            span.montserrat-text.uppercase(style='font-size:24px') nh&#x1EAD;n b&aacute;o gi&aacute; v&agrave; th&ocirc;ng tin d&#x1EF1; &aacute;n
            #newsletter-notify
            div
              .input_1
                input(type='text', id='newsletter-name')
                span tên
              .input_1
                input(type='text', id='newsletter-phone')
                span số điện thoại
              .input_1
                input(type='text', id='newsletter-email')
                span th&#x1B0; &dstrok;i&#x1EC7;n t&#x1EED;
              button#newsletter-submit.btn.green(style='margin-top:20px')
                span g&#x1EED;i
  <!-- FOOTER -->
  footer.main-footer.wow.fadeInUp
    .container
      .col-md-8.col-sm-12
        .row
          nav.footer-nav
            ul
              li
                a.animsition-link(href='/') Trang ch&#x1EE7;
              li
                a(href='/#about') Gi&#x1EDB;i thi&#x1EC7;u
              li
                a(href='/#tien-ich') Ti&#x1EC7;n &iacute;ch
              li
                a(href='/#tien-do-du-an') Tiến độ dự án
              li
                a.animsition-link(href='/lien-he') li&ecirc;n h&#x1EC7;
      .col-md-4.col-sm-12(style='text-align:right')
        .row
          .uppercase một sản phẩm của phúc khang corporation
          ul.social-icons(style='margin-top:30px;float:right')
            li
              a(href='https://www.facebook.com/C%C4%83n-h%E1%BB%99-xanh-Diamond-Lotus-Riverside-1507936615957922/')
                i.icon.ion-social-facebook
  div.hotlinebutton-fixed
    span 0931 .  776 .  252

  
  // SCRIPTS
  script(type='text/javascript', src='javascripts/jquery-2.1.4.min.js')
  script(type='text/javascript', src='javascripts/isotope.pkgd.min.js')
  script(type='text/javascript', src='javascripts/jquery.flexslider.js')
  script(type='text/javascript', src='javascripts/smoothScroll.js')
  script(type='text/javascript', src='javascripts/jquery.animsition.min.js')
  script(type='text/javascript', src='javascripts/wow.min.js')
  script(type='text/javascript', src='javascripts/main.js')
  script window._sbzq || function (e) { e._sbzq = []; var t = e._sbzq; t.push(["_setAccount", 71486]); var n = e.location.protocol == "https:" ? "https:" : "http:"; var r = document.createElement("script"); r.type = "text/javascript"; r.async = true; r.src = n + "//static.subiz.com/public/js/loader.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) }(window);
  script(type='text/javascript', src='javascripts/layout.js')

  block javascripts